<!-- Generated template for the DhiHeaderComponent component -->
<div >
  <div>
    <ion-row>
        <ion-col col-4>
          <button ion-button outline round small (click)="changeUser()">User: {{currentUser}}</button>
          <button ion-button outline round small (click)="changeWhse()">Whse: {{currentWhse}}</button>
          <button ion-button outline round small color="secondary">Status: OK!</button>
      </ion-col>
      <ion-col>
        <h1>{{text}}</h1>
      </ion-col>
      <ion-col>
          <ion-searchbar></ion-searchbar>
      </ion-col>
    </ion-row>
  </div>
</div>